@responsive {
	.o-grid {
		display: flex;
		flex-wrap: wrap;
		margin-left: calc(theme('spacing.gutter') / -2);
		margin-right: calc(theme('spacing.gutter') / -2);
		@apply u--mb-gutter;
		> * {
			flex-basis: 0;
			flex-grow: 1;
			max-width: 100%;
			padding: 0 calc(#{theme('spacing.gutter')} / 2);
			margin-bottom: theme('spacing.gutter');
		}
		&__col {
			@for $columns from 1 through 12 {
				&-#{$columns} {
					$amount: $columns / 12;
					$column-width: decimal-round($amount) * 100%;
					flex-basis: $column-width;
					max-width: $column-width;
					&--ol {
						margin-left: $column-width;
					}
					&--or {
						margin-right: $column-width;
					}
				}
			}
			&--fill {
				max-width: 100%;
			}
		}
	}
}